---
import Layout from '../layouts/Layout.astro';
import Article from '../components/Article.astro';

const articles = [
	{
		title: 'HTML',
		description: 'Building blocks of the web',
		href: '/html',
		icon: '🧱',
	},
	{
		title: 'CSS',
		description: 'Styles for days',
		href: '/css',
		icon: '💅',
	},
	{
		title: 'Javascript',
		description: 'Interactivity at your fingertips',
		href: '/javascript',
		icon: '🚀',
	}
];
---

<Layout title="Frontend Journey" description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod dolor id eaque cupiditate quibusdam necessitatibus illum consequatur.">
	<div class="relative z-10 bg-white shadow-md overflow-hidden rounded-xl">
		<ul role="list" class="divide-y divide-gray-200">
			{articles.map(({title, ...restArticle}, i) => {
				return <li><Article title={`${i + 1}. ${title}`} {...restArticle} /></li>;
			})}
		</ul>
	</div>
</Layout>
