---
import Layout from '../layouts/Layout.astro';
import Article from '../components/Article.astro';

const articles = [
	{
		title: '1. HTML: lego bricks of the web',
		description:
			'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam dignissimos animi officia numquam amet provident. Fugiat tempora optio reprehenderit, pariatur modi fugit voluptatum unde sunt ipsum suscipit expedita. Eligendi, neque!',
		href: '/html',
		src: 'https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80',
		alt: 'HTML code'
	},
	{
		title: '2. CSS: lego bricks of the web',
		description:
			'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam dignissimos animi officia numquam amet provident. Fugiat tempora optio reprehenderit, pariatur modi fugit voluptatum unde sunt ipsum suscipit expedita. Eligendi, neque!',
		href: '/html',
		src: 'https://images.unsplash.com/photo-1517134191118-9d595e4c8c2b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80',
		alt: 'CSS code'
	},
	{
		title: '3. Javascript: lego bricks of the web',
		description:
			'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam dignissimos animi officia numquam amet provident. Fugiat tempora optio reprehenderit, pariatur modi fugit voluptatum unde sunt ipsum suscipit expedita. Eligendi, neque!',
		href: '/html',
		src: 'https://images.unsplash.com/photo-1627398242454-45a1465c2479?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2148&q=80',
		alt: 'Javascript code'
	}
];
---
<Layout title="Frontend Journey">
	<div class="space-y-16 sm:space-y-24 pt-16 sm:pt-24">
		{articles.map((article) => {
			return <Article {...article} />;
		})}
	</div>
</Layout>
