---
function getFullYear() {
	const date = new Date();
	return date.getFullYear();
}
---

<footer class="flex justify-center py-8 border-t border-gray-200">
	<div class="mt-8 md:mt-0">
		<p class="text-center text-base text-gray-400">
			&copy; {getFullYear()} Frontend Journey. All rights reserved.
		</p>
	</div>
</footer>
